.wrapper {
  width: 100%;
  margin: 0px auto;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.dark-theme {
  --background-color: #6a636e;
  --text-color: white;
  --primary-color: #252127;
  --secondary-color: #542869;
  --tertiary-color: #413b44;
  --special-color: #2bb19a;
}

.light-theme {
  --background-color: #eeeeee;
  --text-color: black;
  --primary-color: #e6e4e7;
  --secondary-color: #d394f0;
  --tertiary-color: #cacaca;
  --special-color: #6ef1dc;
}

.active-operation {
  color: var(--special-color);
  background-color: var(--text-color);
}

.secondary-active-operation {
  color: var(--secondary-color);
  background-color: var(--text-color);

  @media (max-width: 960px) {
    display: none;
  }
}

.lock {
  filter: brightness(50%);
  pointer-events: none;
}

.memory-lock {
  filter: brightness(50%);
  pointer-events: none;
}

.force-lock {
  filter: brightness(50%);
  pointer-events: none;
}

.supscript {
  pointer-events: none;
  vertical-align: super;
  font-size: 75%;
  position: relative;
  top: -0.5em;
}

.subscript {
  pointer-events: none;
  vertical-align: sub; 
  font-size: 75%;
  position: relative;
  top: 0.2em;
}